@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/functions";
@import "../../scss/abstracts/mixins";

.hero-slider {
  &__img {
    position: relative;
    border-radius: $radius-m;
    overflow: hidden;
    padding-top: 56.25%;
    min-height: 300px;
    margin-left: 10px;
    margin-right: 10px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
  }
  
  &__arrows {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
